name: three_dart
description: three.js implement by Dart.
version: 0.0.2
homepage: https://github.com/wasabia/three_dart

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.1
  universal_html: ^2.0.8
  ffi: ^1.1.2
  image: ^3.0.2
  flutter_gl: ^0.0.7
    # path: ../flutter_gl/flutter_gl
    # git: git@github.com:wasabia/flutter_gl.git
  # opentype:
  #   git: git@github.com:wasabia/opentype.git
  # typr_dart:
  #   # path: ../typr_dart
  #   git: git@github.com:wasabia/typr_dart.git
  # bidi_dart:
  #   # path: ../bidi_dart
  #   git: git@github.com:wasabia/bidi_dart.git


# dependency_overrides:
#   flutter_gl:
#     path: ../flutter_gl/flutter_gl

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
